<div class="content">

  <section class="title_section">
    <h2>Dashboard</h2>
  </section>

  <section class="welcome_container">
    <div class="head">
      <h3>Welcome to Luz del Alba™</h3>
      <p>We can provide fast quotes for the following insurances. </p>
    </div>
    <ul class="get_started_content">
      <li class="quote_status" style="display: block;">
        <ul class="statuses">
          <li class="quote_detail" *ngFor="let module of modulesAvailables">
            <span class="heading">{{module._id}}</span>
            <a (click)="select(module)" title="Get a Quote" style="color: #125699; cursor: pointer;"> Details</a>
          </li>
        </ul>
      </li>
      <div style="align-items: center;margin-top: 30px; margin-right: 30px;" *ngIf="selectedModule">
        <mat-tab-group>
          <mat-tab *ngFor="let detail of selectedModule.details" label="{{ detail.description }}">
            <mat-list>
              <div mat-subheader>Details</div>
              <mat-list-item >
                <mat-icon mat-list-icon>attach_money</mat-icon>
                <div mat-line>Minimum</div>
                <div mat-line> {{ detail.min }} </div>
              </mat-list-item>
              <mat-list-item >
                <mat-icon mat-list-icon>attach_money</mat-icon>
                <div mat-line>Maximum</div>
                <div mat-line> {{ detail.max }} </div>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ul>
  </section>

</div>
