<div class="content">

  <section class="title_section">

    <h2>Dashboard</h2>

    <div class="options">

      <div class="action">

      </div>

    </div>

  </section>

  <aside class="alerts ignore">


  </aside>

  <section class="welcome_container">

    <div class="head">

      <h3>Welcome to Luz del Alba™</h3>

      <p>We can provide fast quotes for you insurances. </p>

    </div>

    <ul class="get_started_content">

      <li class="quote_status" style="display: block;">

        <ul class="statuses">
          <li class="expiring">
            <span class="heading">Expiring Soon</span>
            <a title="Get a Quote"> Get a Quote</a>
          </li>
        </ul>

      </li>

    </ul>

  </section>


</div>
