<div class="content" role="main">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <span><img class="logo" src="./assets/logo.png" alt="logo"></span>
      <span class="example-spacer"></span>
      <button mat-flat-button color="basic">
        <mat-icon>login</mat-icon>
        &nbsp; Login
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <br>
  <mat-toolbar color="accent" style="background-color: #1c2135;">
    &nbsp; Luz del Alba™
    <span class="example-spacer"></span>

    &nbsp; &nbsp;
  </mat-toolbar>
  <div class="row">
    <div class="column left">
      <mat-list>
        <mat-list-item>
          <mat-icon>grid_view</mat-icon>
          <a routerLink="/dashboard" routerLinkActive="active"> &nbsp; Dashboard</a>&nbsp;
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </div>
    <div class="column right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="menu">
      <div class="right_side">
        <span class="copy">© 2021 Luz del Alba™. All Rights Reserved.<br>Luz del Alba™ is a trademark.</span>
      </div>
    </div>
  </div>
</footer>
