<div class="content" role="main">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <span><img class="logo" src="./assets/logo.png" alt="logo"></span>
      <span class="example-spacer"></span>
      <button mat-flat-button color="basic">
        <mat-icon>login</mat-icon>
        &nbsp; Login
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <br>
  <mat-toolbar color="accent" style="background-color: #1c2135;">
    &nbsp; Get a Quote
    <span class="example-spacer"></span>
    <button mat-flat-button color="basic">
      <mat-icon>mode_edit</mat-icon>
    </button>
    &nbsp; &nbsp;
  </mat-toolbar>
  <br><br>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

</div>

<footer>
  <div class="container">
    <div class="menu">
      <div class="right_side">
        <span class="copy">© 2021 Luz del Alba™. All Rights Reserved.<br>Luz del Alba™ is a trademark.</span>
      </div>
    </div>
  </div>
</footer>
